/*---------------------------
** PROPIEDADES DEL HEADER
---------------------------*/
header {
    background-color: $color-dos;
    @include box-tamano (100%, auto);
    max-width: 100%;
}
/* PANTALLA CELULAR */
@media screen and (min-width: 320px) and (max-width: 767px) {
    header {
        @include flex( none, center);
        flex-direction: row;
    }
}

				/*--------** PROPIEDADES DEL LOGO EN EL HEADER -------------*/
#logi {
    @include box-tamano (90%, 50%);
    max-width: 100%;
    padding: 02% 07%;
    margin: 07px;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-name: tilt-in-top-1;
    animation-fill-mode: both;
}

				/*--------** ANIMACION DEL LOGO -------------*/
.tilt-in-top-1 {
-webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
