/*---------------------------
** PROPIEDADES REDES SOCIALES  
---------------------------*/

#redesSociales {
	max-width: 300%;
	padding: 32px 10px;
	margin: auto;
	position: fixed;
	overflow: hidden;
	right: -130px;
	top: 230px;
	z-index: 1100;
}
.social {
    @include box-tamano (41px, 43px);
	position: fixed;
	right: 0;
	float: left;
	margin: 5px 4px;
	top: 50%;
	padding: 0px;
	cursor: pointer;
}

ion-icon {
	font-size: 40px;
	color: black;
	padding: 01px;
	background: #83d7d0;
	border-radius: 8PX;
}


/* PANTALLA CELULAR */
@media screen and (min-width: 320px) and (max-width: 767px) {
    #redesSociales {
        @include box-tamano (99%, auto);
        max-width: 100%;
        margin: 03px;
        padding: 02px;
        position: static;
    }
    
    .social {
        width: 100px;
        display: flex;
        flex-direction: row;
        position: static;
        margin: 5px 100px;
    }
    
    ion-icon {
        text-align: center;
        font-size: 30px;
        color: #000;
        padding: 02px;
        margin: 0px 07px;
        border-radius: 8PX;
    }
}